extends layout

block content
	h1= title
	p Itau Test

	// LINKS
	#links
		p <a href="#" id="top-users-by-followers">Top Users By Followers</a>
		p <a href="#" id="tag-counters">Tag Counters By Lang (pt)</a>
		p <a href="#" id="tag-counters-by-date"> Tag Counts By date/hour </a>
	// /LINKS

	// CONTENT
	#content
		table
	// / CONTENT
